langchain
langchain_community
langchain_openai
langchain_chroma
pypdf==5.3.0
python-docx==0.8.11
unstructured==0.10.30
Flask==2.3.2
openai==1.57.0
PyPDF2==3.0.1
uuid==1.30
apscheduler==3.10.1
markdown==3.4.4
python-dotenv==1.0.0